POSTGRES_PASSWORD=
APP_ENVIRONMENT=production
SEVEN_DAYS_LOG_SOURCE=docker
SEVEN_DAYS_ROOT=/home/ec2-user/7dtd
SEVEN_DAYS_DATA_DIRECTORY=/home/ec2-user/7dtd/data
SEVEN_DAYS_GAME_DIRECTORY=/home/ec2-user/7dtd/game
SEVEN_DAYS_CONTAINER_NAME=7dtd
SEVEN_DAYS_DOCKER_LOG_SINCE=5m
SEVEN_DAYS_DOCKER_LOG_RESTART_DELAY_SECONDS=5
SEVEN_DAYS_LOG_SCHEDULED_ENABLED=false
SEVEN_DAYS_TELNET_ENABLED=true
SEVEN_DAYS_TELNET_HOST=127.0.0.1
SEVEN_DAYS_TELNET_PORT=8081
SEVEN_DAYS_TELNET_PASSWORD=
SEVEN_DAYS_TELNET_LP_INTERVAL_SECONDS=10
SEVEN_DAYS_LOG_SERVER_METRIC_INTERVAL_MINUTES=60
SEVEN_DAYS_CURRENT_STATE_MAX_AGE_SECONDS=120
SEVEN_DAYS_POI_TRANSLATION_RESOURCE=classpath:poi-translations.csv
